.prod-filter-container{
    font-family: "Poppins", sans-serif;
    width:20%;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 10%);
    border-radius: 2px;
}

.prod-list-container{
    font-family: "Poppins", sans-serif;
    background: #fff;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 680px;
    border-radius: 2px;
}

.product-err-msg{
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgrey; 
    color: #677279;
    font-style: italic;
    font-size: 0.95rem;
}

.filter-container a{
    padding:5px !important;
}

.filter-container div{
    border-bottom:1px solid white !important;
}

.prod-title{
    color: #be1e2d;
    font-weight: 500;
    font-size: 2rem;
}

.book-filters{
    outline:none;
}

select{
    border: none;
}

.sub-ctg div{
    border-bottom: 1px solid lightgray;
    padding:12px;
}

.sub-ctg div a{
    color:black;
    text-decoration: none;
    font-size: 15px;
    padding:10px;
}

.sub-ctg div a:hover{
    color:red;
}

.prod-title-container{
    border-bottom: 1px solid lightgray;
}

.book-body{
    width: 25%;
}

.book-body div:nth-child(2){
    padding:5px;
    color:#323e48;
    height: 50px;
    font-weight: bold;
}

.book-body div:nth-child(3){
    padding:5px;
    color:#be1e2d;
    font-size: 20px;
    font-weight: bold;
}

.book-body li{
    font-weight: bold;
    font-size: 0.85rem !important;
}

.book-body li:before {
    content: "\25CF";
}

.sold-out{
    color:#677279;
}

.in-stock{
    color: green;
}

.row{
    margin:0px !important;
}

.btn-cart{
    background: #be1e2d;
    border: none;
    width: 100%;
    position: relative;
    padding: 0 30px;
    line-height: 40px;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    transition: background 0.25s ease-in-out, color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    border-radius: 2px;
}

a .btn-cart{
    color: white;
    font-size: 15px;
}

.btn-cart:hover{
    opacity: 0.8;
}

button:disabled {
    background: #dddddd;
}

