 
.login{
    padding-top:100px;
    padding-bottom:100px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}

.adminlogin{
    display:flex;
    flex-direction: column;
}

.enter{
    color:rgba(0,0,0,0.7);
    margin-top:15px;
    margin-bottom:15px;
}


input{
    border:1px solid #ccc;
    padding:10px 15px;
    margin-top:10px;
    margin-bottom:10px;
    width:350px; 
    border-radius:2px;
    
}

input:focus{
    outline:none;
}

#submit{
    width:300px;
    border:none;
    background-color:rgba(180,180,180);
    color:white;
    padding:10px;
    margin:10px 0px;
    border-radius:2px;
}

#submit:hover{
    background-color:rgba(204,0,0,0.8);
   
}

#submit:focus{
    outline:none;
}

.link{
    font-size:0.9em;
    color:rgba(204,0,0,0.9);
}

p{
    margin:0px;
}

