/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2021, 11:31:51 PM
    Author     : Chrisann Lee
*/

/*sidebar*/
.col-1-4{
    width:25%;
   
}
.col-1-4 table{
    margin-top:40px;
    background-color: #F0FFF0;
    width:75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col-1-4 td{
    padding:20px;
   
}
.col-1-4 td>a{
     color:#808080;
}
.col-1-4 td>a:hover{
     color:black;
}


.col-1-4 i{
    padding-right: 20px;
}